<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<extensions>
		<add assembly="SFA.DAS.NLog.Targets.Redis" />
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<variable name="logLevel" value="Info" />
	<variable name="appName" value="das-employment-check-functions"/>
	<variable name="simplelayout" value="${longdate} [${uppercase:${level}}] [${logger}] - ${message} ${onexception:${exception:format=tostring}}"/>
	<targets>
		<target name="Console" layout="${simplelayout}" xsi:type="Console"/>
		<target name="RedisLog" appName="${appName}" environmentKeyName="EnvironmentName" connectionStringName="LoggingRedisConnectionString" includeAllProperties="true" layout="${message}" xsi:type="Redis"/>
		<target xsi:type="Null" name="blackhole" />
	</targets>
	<rules>
		<logger name="*" minlevel="Fatal" writeTo="aiTarget" />
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="${logLevel}" writeTo="redis" />

		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true" />
	</rules>
</nlog>